@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list,
.comfort-list,
.pagination,
.footer-social-list,
.inner-header-title,
.breadcrumbs,
.hotel-card-list {
  margin: 0;
  padding: 0;
}

.sedona-title,
.invitation-title,
.comfort-title,
.intro_title,
.interested-title,
.sedona-text,
.invitation-text,
.comfort-text,
.interested-text,
.intro_description,
.subscribe,
.subscribe-text,
.hotel-card__title,
.word-hotel,
.hotel-card__rating,
.hotel-card-stars-2,
.hotel-card-stars-3,
.hotel-card-stars-4 {
  margin: 0;
}

.sedona-list {
  padding: 0;
}

.navigation-link,
.catalog-filter-title,
.price-filter-title,
.phone,
.button-search,
.hotel-card-button,
.button-want-here,
.pagination-link {
  text-decoration: none;
} /*Убирает подчеркивание*/

.sedona-title,
.comfort-title,
.button-search,
.button-want-here,
.intro_title,
.invitation-title,
.pagination-item,
.button-apply,
.button-reset,
.hotel-card-button,
.button-favorites,
.hotel-card__rating,
.button-favorites-green {
  text-transform: uppercase;
} /*Всё крупным шрифтом*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(0);
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.navigation-list,
.sedona-list,
.comfort-list,
.breadcrumbs,
.catalog-filter-list,
.hotel-card-list,
.pagination,
.footer-social-list {
  list-style-type: none;
} /*Убирает маркер*/

.button-search,
.subscribe-btn,
.button-want-here,
.email-input,
.button-favorites,
.button-favorites-green,
.sort-select,
.button-apply,
.button-reset {
  font: inherit;
} /*Принудительное наследование*/

.footer-phone {
  font-style: normal;
}

.navigation-list {
  width: 527px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navigation-user {
  width: 290px;
  margin-left: auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.navigation-link {
  padding: 20px 16px;
}

.page-main {
  width: 1200px;
}

.page-footer {
  padding: 40px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer-social-item {
  width: 24px;
  height: auto;
  padding: 0 10px;
}

.footer-phone {
  width: 720px;
}

.email-input {
  width: 452px;
  height: 52px;
  box-sizing: border-box;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
}

/*Шрифты*/

.hotel-card__rating {
  font-size: 16px;
  line-height: 20px;
}

.sedona-text,
.comfort-text,
.sort-option,
.word-hotel {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.navigation-link,
.catalog-filter-title,
.price-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.sedona-title,
.comfort-title,
.hotel-card__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.intro_title,
.invitation-title,
.interested-title,
.subscribe,
.catalog-hotel {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/*Кнопки*/

.pagination-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.button-want-here {
  width: 92px;
  outline: 1px solid #756157;
  background-color: #756157;
  color: white;
  padding: 8px 30px;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-search,
.subscribe-btn {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 8px 50px 8px 50px;
  color: #ffffff;
}

.button-search {
  width: 376px;
  outline: 1px solid #756157;
  border-radius: 4px;
  background-color: #756157;
  margin-top: 54px;
}

.subscribe-btn {
  width: 232px;
  height: 52px;
  outline: 1px solid #82b3d3;
  background-color: #82b3d3;
}

.button-apply {
  width: 191px;
  height: 36px;
  outline: 1px solid #82b3d3;
  background-color: #82b3d3;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 8px 50px 8px 50px;
}

.button-reset {
  width: 191px;
  height: 36px;
  outline: 1px solid;
  background-color: transparent;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 8px 50px 8px 50px;
}

.hotel-card-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 8px 26px;
  width: 88px;
  min-height: 20px;
  outline: 1px solid #756157;
  border-radius: 4px;
  background-color: #756157;
}

.button-favorites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 8px;
  width: 143px;
  min-height: 20px;
  outline: solid #82b3d3;
  border-radius: 4px;
  background-color: #82b3d3;
}

/*Цвета*/

.button-favorites-green {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 8px 20px;
  width: 148px;
  height: 36px;
  outline: 1px solid #7db54f;
  border-radius: 4px;
  background-color: #7db54f;
}

.white .sedona-title,
.white .sedona-text,
.white .subscribe,
.white .subscribe-text,
.white .inner-header-title,
.white .catalog-filter-title,
.white .catalog-filter-item,
.white .button-want-here {
  color: #ffffff;
}

.intro_description,
.invitation-text,
.interested-title,
.subscribe-text {
  color: #333333;
}

/*Фон*/

.bg-100 {
  background-color: rgba(130, 179, 211, 1);
}

.bg-12 {
  background-color: rgba(131, 179, 211, 0.12);
}

.bg-20 {
  background-color: rgba(131, 179, 211, 0.2);
}

.hotel-hero {
  background-color: #2c4a3e;
  background-image: url("../images/hotels/filter.jpg");
  width: 1200px;
  height: 412px;
}

.bg-email {
  background-color: #5e4b3c;
  background-image: url("../images/subscribe.jpg");
  width: 1200px;
  height: 414.86px;
}

.email-index {
  height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-text {
  margin-top: 20px;
  width: 500px;
}

.hero {
  background-color: #2c4a6a;
  background-image: url("../images/index-background.png");
  width: 1200px;
  height: 485px;
  display: block;
  margin: 0 auto;
}

/*Векторные картинки*/

.hero-img {
  margin: 51px 371px;
}

.icon {
  width: 20px;
  height: 20px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  padding: 0 12px 0 12px;
}

.icon-search {
  background-image: url("../images/icon/icons_search.svg");
}

.icons_heart {
  background-image: url("../images/icon/icons_heart.svg");
}

/*Общие настройки*/

.intro_title {
  width: 730px;
}

/*Дисплей */

.sedona-list {
  display: flex; /* обязательно! */
  flex-wrap: wrap; /* чтобы переносилось */
  max-width: 1200px;
  margin: 0 auto;
}

.sedona-item {
  width: 400px; /* ширина текстового блока */
  padding: 103px 80px;
  box-sizing: border-box; /* чтобы padding не ломал ширину */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.sedona-title {
  width: 175px;
  min-height: 56px;
}

.sedona-text {
  width: 240px;
  min-width: 42px;
}

.sedona-photo {
  width: 800px; /* ширина фото (2 колонки) */
  min-height: 385px;
}

.photo-1 {
  display: block;
}

.invitation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 64px 0;
}

.invitation-title {
  width: 570px;
}

.comfort-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 400px;
  padding: 80px 85px;
}

.comfort-text {
  width: 230px;
}

.interested {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 96px 304px;
}

.interested-text {
  margin-top: 20px;
  width: 630px;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 69px 0;
}

.comfort-list {
  display: flex;
}

.email-subscribe {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 54px;
}

/* Для гридов
.sedona-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  padding: 0;
  margin: 0 auto;
}
.sedona-photo {
  grid-column: span 2;
  width: 100%;
  height: auto;
  display: flex;
}
*/

.inner-header {
  padding: 35px 70px 40px;
}

.inner-header-title {
  text-align: start;
}

.breadcrumbs {
  color: #ffffff;
  display: flex;
}

.breadcrumbs-link {
  margin-right: 10px;
}

.hotel-filters {
  padding: 0 70px;
}

.catalog-filter {
  display: flex;
  gap: 70px;
}

.hotel-catalog {
  padding: 50px 70px 60px 70px;
}

.sorting-container {
  display: flex;
  padding-bottom: 40px;
}

.sort-select {
  margin-left: 200px;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
  background-color: #7db54f;
}

.button-list {
  width: 160px;
  height: 48px;
}

.catalog-filter-group {
  width: 150.43px;
  height: 157px;
  padding: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  text-align: start;
  margin-top: 32px;
}

.div-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 56px;
}

/* Отели */

.hotel-card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hotel-card {
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hotel-card:nth-child(3n) {
  margin-right: 0;
}

.hotel-card__title {
  text-align: start;
}

.hotel-card__image {
  width: 100%;
  height: auto;
  order: -1;
}

.word-hotel {
  display: flex;
  justify-content: space-between;
}

.hotel-buttons {
  display: flex;
  justify-content: space-between;
}

.hotel-card-stars-4 {
  background-image: url(../images/hotels/stars-4.svg);
  width: 140px;
  min-height: 37px;
}

.hotel-card-stars-3 {
  background-image: url(../images/hotels/stars-3.svg);
  width: 140px;
  min-height: 37px;
}

.hotel-card-stars-2 {
  background-image: url(../images/hotels/stars-2.svg);
  width: 140px;
  min-height: 37px;
}

.hotel-card__rating {
  width: 95px;
  border: solid #f2f2f2;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 9px 22px;
}

.div-rating {
  display: flex;
  justify-content: space-between;
}

.pagination {
  margin-left: 70px;
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

/* Фон для текущего li */
.pagination-current.pagination-item {
  background-color: #f2f2f2;
}

/* Цвет текста ссылки внутри текущего li */
.pagination-current .pagination-link {
  color: #000000;
}

.pagination-item {
  min-width: 60px;
  min-height: 60px;
  background-color: #82b3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  color: #ffffff;
}

.pagination-item:nth-last-child(2) {
  background-color: transparent;
}

.pagination-item:nth-last-child(2) .pagination-link {
  color: #000000;
}
