@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-list,
.comfort-list,
.pagination,
.footer-social-list,
.inner-header-title,
.breadcrumbs,
.hotel-card-list,
.catalog-filter-group,
.view-switch {
  margin: 0;
  padding: 0;
}

.sedona-title,
.invitation-title,
.comfort-title,
.intro_title,
.interested-title,
.sedona-text,
.invitation-text,
.comfort-text,
.interested-text,
.intro_description,
.subscribe,
.subscribe-text,
.hotel-card__title,
.word-hotel,
.hotel-card__rating,
.hotel-card-stars-2,
.hotel-card-stars-3,
.hotel-card-stars-4,
.custom-radio {
  margin: 0;
}

.sedona-list,
.price-filter-group {
  padding: 0;
}

.navigation-link,
.filter-title,
.phone,
.button-search,
.hotel-card-button,
.button-want-here,
.pagination-link,
.breadcrumbs-link {
  text-decoration: none;
} /*Убирает подчеркивание*/

.sedona-title,
.comfort-title,
.button-search,
.button-want-here,
.intro_title,
.invitation-title,
.pagination-item,
.button-apply,
.button-reset,
.hotel-card-button,
.button-favorites,
.hotel-card__rating,
.button-favorites-green,
.subscribe-btn {
  text-transform: uppercase;
} /*Всё крупным шрифтом*/

.navigation-list,
.sedona-list,
.comfort-list,
.breadcrumbs,
.catalog-filter-list,
.hotel-card-list,
.pagination,
.footer-social-list,
.view-switch {
  list-style-type: none;
} /*Убирает маркер*/

.button-search,
.subscribe-btn,
.button-want-here,
.email-input,
.button-favorites,
.button-favorites-green,
.sort-select,
.button-apply,
.button-reset {
  font: inherit;
} /*Принудительное наследование*/

.navigation-list,
.sedona-list,
.comfort-list,
.footer-social-list,
.hotel-card-list,
.breadcrumbs,
.catalog-filter-list,
.pagination {
  flex-wrap: wrap;
} /*Переполнение*/

/*Цвета*/

.intro_description,
.invitation-text,
.interested-title,
.subscribe-text {
  color: #333333;
}

.white .sedona-title,
.white .sedona-text,
.white .subscribe,
.white .subscribe-text,
.white .inner-header-title,
.white .catalog-filter-item,
.white .button-want-here {
  color: #ffffff;
}

/*Шрифты*/

.hotel-card__rating {
  font-size: 16px;
  line-height: 20px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.sedona-text,
.comfort-text,
.sort-option,
.word-hotel {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.navigation-link,
.button-want-here {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.sedona-title,
.comfort-title,
.hotel-card__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.intro_title,
.invitation-title,
.interested-title,
.subscribe,
.catalog-hotel {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/*Кнопки*/

.button-want-here {
  width: 92px;
  background-color: #756157;
  color: white;
  padding: 8px 30px;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-search,
.subscribe-btn {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 8px 50px 8px 50px;
  color: #ffffff;
}

.button-search {
  width: 376px;
  border-radius: 4px;
  background-color: #756157;
  margin-top: 54px;
}

.subscribe-btn {
  width: 232px;
  min-height: 52px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #82b3d3;
}

.hotel-card-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 8px 26px;
  width: 88px;
  min-height: 20px;
  outline: 1px solid #756157;
  border-radius: 4px;
  background-color: #756157;
}

.button-favorites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 8px;
  width: 143px;
  min-height: 20px;
  border-radius: 4px;
  border: none;
  background-color: #82b3d3;
}

.button-favorites-green {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 8px 20px;
  width: 148px;
  min-height: 36px;
  border: none;
  border-radius: 4px;
  background-color: #7db54f;
}

.pagination-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

/*Главная*/ /* */

/*Шапка - header*/
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;
  position: relative;
}

.navigation-logo {
  position: absolute;
  z-index: 10;
}

.navigation-list {
  width: 527px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 170px;
}

.navigation-item:not(:last-child) {
  margin-right: 8px;
}

.navigation-link {
  padding: 19px 16px;
}

.navigation-user {
  width: 290px;
  margin-left: auto;
}

.navigation-item-user:last-child {
  margin-left: 20px;
}

/* полоска акктивности */
.navigation-item {
  position: relative; /* чтобы полоска считала позицию от этого блока */
}

.navigation-item.navigation-current::after {
  content: "";
  position: absolute;
  bottom: -19px; /* опускаем полоску на 21px ниже */
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 2px solid #756257;
}

/* main */
.page-main {
  width: 1200px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  background-color: #2c4a6a;
  background-image: url("../images/index-background.png");
  width: 1200px;
  min-height: 485px;
  display: block;
  margin: 0 auto;
}

.hero-img {
  margin: 51px 371px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 69px 0;
}

.intro_title {
  width: 730px;
  margin-bottom: 25px;
}

.sedona-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(3, 385px);
  max-width: 1200px;
  margin: 0 auto;
}

.sedona-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 385px;
}

.sedona-title {
  width: 175px;
  min-height: 56px;
}

.sedona-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px auto 0;
}

.sedona-list li:first-child .sedona-title::after,
.sedona-list li:last-child .sedona-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.sedona-text {
  width: 240px;
  min-width: 42px;
  margin-top: 30px;
}

.sedona-photo {
  grid-column: span 2;
  min-height: 385px;
}

.photo-1 {
  display: block;
}

.invitation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
}

.invitation-title {
  width: 505px;
  margin-bottom: 20px;
}

.comfort-list {
  display: flex;
}

.comfort-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 81px 85px;
}

.comfort-title {
  margin: 30px 0;
}

.comfort-text {
  width: 230px;
}

.interested {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 96px 304px;
}

.interested-text {
  margin-top: 20px;
  width: 630px;
}

.email-index {
  min-height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-text {
  margin-top: 20px;
  width: 500px;
}

.email-subscribe {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 54px;
}

.email-input {
  width: 452px;
  min-height: 52px;
  border: none;
  box-sizing: border-box;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}

/*Подвал - footer */

.page-footer {
  padding: 40px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer-social-item {
  width: 24px;
  height: auto;
  padding: 0 10px;
}

.footer-phone {
  width: 720px;
  font-style: normal;
}

/*Фон*/

.bg-100 {
  background-color: rgba(130, 179, 211, 1);
}

.bg-12 {
  background-color: rgba(131, 179, 211, 0.12);
}

.bg-20 {
  background-color: rgba(131, 179, 211, 0.2);
}

.bg-email {
  background-color: #5e4b3c;
  background-image: url("../images/subscribe.jpg");
  width: 1200px;
  height: 414.86px;
}

/*Векторные картинки*/

.icon {
  width: 20px;
  height: 20px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  padding: 22px 12px;
}

.icon-search {
  background-image: url("../images/icon/icons_search.svg");
}

.icons_heart {
  background-image: url("../images/icon/icons_heart.svg");
  text-decoration: none;
  position: relative;
}

.icons_heart:after {
  content: "12";
  border-radius: 10px;
  position: absolute;
  background-color: #7db54f;
  width: 20px;
  height: 20px;
  line-height: 20px;
  top: 10px;
  left: 19px;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  z-index: 10;
}

/*Каталог */

.hotel-hero {
  background-color: #2c4a3e;
  background-image: url("../images/hotels/filter.jpg");
  width: 1200px;
  min-height: 412px;
}

.inner-header {
  padding: 35px 70px 40px;
}

.inner-header-title {
  text-align: start;
}

.breadcrumbs {
  color: #ffffff;
  display: flex;
  font-size: 16px; /* возвращаем размер только нужным */
  line-height: 1;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 10px;
  margin: 0 10px;
  background-image: url(../images/icon/Vector-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-filters {
  padding: 0 70px;
}

.catalog-filter {
  display: flex;
}

.hotel-catalog {
  padding: 50px 70px 60px 70px;
}

.catalog-filter-group {
  width: 150.43px;
  min-height: 157px;
  border: none;
}

.catalog-filter-group:first-child {
  margin-right: 70px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  text-align: start;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

/* Скрываем стандартный чекбокс */
.control-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* Контейнер для галочки */
.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  margin-right: 16px;
  vertical-align: middle;
  flex-shrink: 0;
}

.control-input:checked + .control .custom-checkbox {
  background-image: url("../images/icon/tick-checked.svg"); /* твоя иконка */
  background-position: center;
  background-repeat: no-repeat;
}

/* Стили для лейбла, чтобы всё было в строку */
.control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Кастомный кружок */
.custom-radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 16px;
  vertical-align: middle;
  flex-shrink: 0;
}

/* Когда радио-кнопка выбрана — показываем точку */
.control-input:checked + .control .custom-radio {
  background-color: #3f5e72; /* цвет фона из макета */
  box-shadow: inset 0 0 0 4px #fff; /* белая точка внутри */
}

.price-filter-group {
  margin: 0 70px 0 140px;
  padding-left: 13px;
}

.price-inputs {
  display: flex;
}

.form-price {
  position: relative;
  margin: 0;
}

.price-description {
  position: absolute;
  color: rgba(0, 0, 0, 1);
  right: 10px;
  font-size: 18px;
  z-index: 2;
  padding: 10px 10px;
}

.filter-price-input {
  width: 143px;
  min-height: 48px;
  background-color: #f2f2f2;
  border: none;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.first-price {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.last-price {
  border-radius: 0 4px 4px 0;
}

.price-range {
  position: relative;
  margin-top: 36px;
}

.range__button {
  width: 20px;
  height: 20px;
  color: #ffffff;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  border: none;
}

.range-min {
  left: 0;
}

.range-max {
  right: 61px;
}

.range-progress {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  bottom: -10px;
}

.div-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.button-apply,
.button-reset {
  border: none;
}

.button-apply {
  width: 191px;
  min-height: 36px;
  background-color: #82b3d3;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 8px 50px 8px 50px;
  margin-bottom: 32px;
}

.button-reset {
  width: 191px;
  min-height: 36px;
  background-color: transparent;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 8px 50px 8px 50px;
}

.sorting-container {
  display: flex;
  padding-bottom: 40px;
}

.sort-select {
  margin: 0 70px 0 200px;
  padding: 14px 20px;
  min-width: 292px;
  border: none;
  outline: 2px solid #e5e5e5;
  border-radius: 4px;
  position: relative;

  /* Кастомная стрелка */

  appearance: none; /* убираем стандартную стрелку */
  background-image: url("../images/icon/Vector-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 12px 7px;
}

.catalog-hotel {
  width: 338px;
}

.view-switch {
  width: 160px;
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.view-switch-item {
  width: 16px;
  height: 14px;
  padding: 14px 12px;
  outline: 2px solid #e5e5e5;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.view-switch-item:not(:last-child) {
  margin-right: 8px;
}

.view-switch-current {
  outline: 2px solid #000000;
}

/* Отели */

.hotel-card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.hotel-card {
  outline: 2px solid #e6e6e6;
  border-radius: 4px;
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.hotel-card:nth-child(3n) {
  margin-right: 0;
}

.hotel-card__title {
  text-align: start;
  margin-bottom: 16px;
}

.hotel-card__image {
  width: 100%;
  height: auto;
  order: -1;
  margin-bottom: 16px;
  object-fit: contain;
}

.word-hotel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotel-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.div-rating {
  display: flex;
  justify-content: space-between;
}

.hotel-card-stars-4 {
  background-image: url(../images/hotels/stars-4.svg);
  width: 140px;
  min-height: 37px;
}

.hotel-card-stars-3 {
  background-image: url(../images/hotels/stars-4.svg);
  width: 70px;
  min-height: 37px;
}

.hotel-card-stars-2 {
  background-image: url(../images/hotels/stars-4.svg);
  width: 47px;
  min-height: 37px;
}

.hotel-card__rating {
  width: 95px;
  outline: solid #f2f2f2;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 9px 22px;
}

.big-line {
  width: 1060px;
  height: 0;
  border: 1px solid #e6e6e6;
  margin-top: 40px;
  margin-bottom: 40px;
}

.pagination {
  margin-left: 70px;
  display: flex;
}

/* Фон для текущего li */
.pagination-current.pagination-item {
  background-color: #f2f2f2;
}

/* Цвет текста ссылки внутри текущего li */
.pagination-current .pagination-link {
  color: #000000;
}

.pagination-item {
  min-width: 60px;
  min-height: 60px;
  background-color: #82b3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item:not(:last-of-type) {
  margin-right: 8px;
}

.pagination-link {
  color: #ffffff;
}

.pagination-item:nth-last-child(2) {
  background-color: transparent;
}

.pagination-item:nth-last-child(2) .pagination-link {
  color: #000000;
}
